<ul id="nav">
  <li class="{% if page.url == '/index.html' %}current{% endif %}"><a href="index.html">Home</a></li>
  <li class="{% if page.url == '/get-started.html' %}current{% endif %}"><a href="get-started.html">Get Started</a></li>
  <li><a href="http://github.com/openrasta/openrasta/wiki">Documentation</a></li>
  <li class="{% if page.url == '/about.html' %}current{% endif %}"><a href="about.html">About</a></li>
  <li class="{% if page.url == '/links.html' %}current{% endif %}"><a href="links.html">Links</a></li>
  <li class="{% if page.url == '/credits.html' %}current{% endif %}"><a href="credits.html">Credits</a></li>
  <li class="{% if page.url == '/jobs.html' %}current{% endif %}"><a href="jobs.html">Jobs</a></li>
</ul>