<div id="side">
  <div id="download">
    <a class="install" href="https://github.com/openrasta/openrasta/wiki/Packages">Download OpenRasta</a>
  </div>
  <p>Fork the code, read the wiki and report bugs at <a href="http://github.com/openrasta/openrasta">
    GitHub</a> </p>
  <p>OpenRasta is free, open source software (MIT License).</p>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <p>
<script type="text/javascript">
//<![CDATA[
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: 'openrasta',
    interval: 6000,
    title: 'About OpenRasta...',
    subject: '',
    width: 250,
    height: 300,
    theme: {
      shell: {
        background: '#8ec1da',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#1985b5'
      }
    },
    features: {
      scrollbar: false,
      loop: true,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      toptweets: true,
      behavior: 'default'
    }
  }).render().start();
  //]]>
</script></p>
<p>
<script type="text/javascript" src="http://www.ohloh.net/p/140583/widgets/project_partner_badge.js"></script>
</p>
</div>
